body{
    
    @import url('https://fonts.cdnfonts.com/css/exo-2');
    
    background: #fff;
    font-family: Roboto;
    padding-top:54px; 
}
.header{
    background-color:#e9ecef;
    box-shadow: 0px 4px 4px 0px #00000040;

    


}
.footer{
    background:#282466;
    padding:35px 0 80px;
    color:#fff;
    ul li{
        list-style: none;
    }
    a{
        font-size:14px;
        color:#fff;
    }
    .logo{
        width: 190px;
        height: 52px;
        background: url(/images/logo-footer.svg) no-repeat center center;
        background-size: contain;
    }
    /*.container-xxl{border:1px solid #fff;}*/
}

.slider{
    img{max-width: 100%;}
}

.main-item{
    
    /*display:flex;*/
    .item-inner{
        font-weight: 300;
        padding:25px 94px 0;
        line-height: 25.2px;
        justify-content: space-around;
        img{
            max-width:100%;
            margin-top:10px;
            /*height: 190px;*/
        }
        p{margin-bottom:0;}
    }
    h3{
        display:flex;
        color:#282466;
        justify-content: center;
        width: 100%;
        padding-top:55px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        }
    h4{
        color:#282466;
        font-size: 18px;
    }    
    .wrp-a{
        display: flex;
        justify-content: center;
        a{
            font-family: 'Roboto', sans-serif;
            color:#404040;
            font-size:20px;
            padding:30px 37px 0;
            text-decoration: none;
            text-align: center;
            font-weight: 400;
        }
        a.w-pad{
            padding:30px 63px 0;
            line-height: 25px;
        }
    }    
    
}